config/nixos/systems/castor/secret.nix filter=git-crypt diff=git-crypt
config/nixos/keys/** filter=git-crypt diff=git-crypt
config/home/cfg/email/secret-indexing/** filter=git-crypt diff=git-crypt
config/home/cfg/email/accounts.nix filter=git-crypt diff=git-crypt
